/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.card-header {
    box-shadow: 2pz;
}
body, html {
    height: 100%;
}
.cursor-pointer {
    cursor: pointer;
}